.calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.display {
    margin-bottom: 10px;
}

.display input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

.keys button {
    height: 50px;
    font-size: 20px;
}